<div class="jumbotron" style="background-image: url(/image/airport.jpg); background-size: 100%;">
  <h1>Final Boarding Call</h1>
  <p>Know exactly when you need to leave to the airport and the best method to get you there on time! Designed to accomodate busy executives who want to go straight from the taxi to the gate, or those budget travellers who do not want to miss their flight.</p>
  <!-- <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p> -->
</div>