<%= render 'jumbotron'%>
<%= render 'error'%>
<h3>Enter your flight details</h3>
<%= render 'directions'%>

<!-- Display the flight status error messages if any -->



<!-- @has_flightstatus_error = false
		@flightstatus_error_msg = ""
		@has_directions_error = false
		@directions_error_msg = "" -->
<!-- Display the directions error messages if any -->

<!-- If no error messages, then display the directions  -->